<head>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8">
</head>
<div #app>
    <h1>Chris Gaffney</h1>
    <div>
        <p>318 W King Street</p>
        <p>Lancaster, PA 17603</p>
        <p>717-798-6158</p>

    </div>
    <div class="Areas of Expertise">
        <h2>Expertise</h2>
        <ul>
            <li>AWS</li>
            <li>Google Cloud Platform</li>
            <li>Serverless Functions</li>
            <li>Project Management</li>
            <li>Marketing</li>
            <li>Version Control Systems</li>
        </ul>
    </div>
    <div>
        <h2>Work Experience</h2>
        {% assign sort_exp = site.data.experience | sort: "start" | reverse %}
        {% for work in sort_exp %}
            {% if  work.job_type == "professional" %}
                <div class="work-card">
                    <span class="font-bold">{{work.experience}}</span> <br>
                    {{work.organization}} <br>
                    {{work.start | date: "%B %Y"}} - {{work.end | date: "%B %Y"}} 
                </div>
                </br>
            {% endif %}

        {% endfor %}
    </div> 
    <div>
        <h2>Volunteer Experience</h2>
        {% assign sort_exp = site.data.experience | sort: "start" | reverse %}
        {% for work in sort_exp %}
            {% if  work.job_type == "volunteer" %}
                <div class="work-card">
                    {{work.experience}} <br>
                    {{work.organization}} <br>
                    {{work.start | date: "%B %Y"}} - {{work.end | date: "%B %Y"}} <br>
                </div>
                </br>
            {% endif %}

        {% endfor %}
    </div>
</div>

<script>

</script>

<footer>

</footer>